In this challenge, you are tasked with creating a Python script for analyzing the financial records of your company. You will give a set of financial data called budget_data.csv. The dataset is composed of two columns: Date and Profit/Losses. (Thankfully, your company has rather lax standards for accounting so the records are simple.)

Your task is to create a Python script that analyzes the records to calculate each of the following:


The total number of months included in the dataset
The total net amount of "Profit/Losses" over the entire period
The average change in "Profit/Losses" between months over the entire period
The greatest increase in profits (date and amount) over the entire period
The greatest decrease in losses (date and amount) over the entire period


As an example, your analysis should look similar to the one below:


###  Financial Analysis
  ----------------------------
  Total Months: 86
  Total: $38382578
  Average  Change: $-2315.12
  Greatest Increase in Profits: Feb-2012 ($1926159)
  Greatest Decrease in Profits: Sep-2013 ($-2196167)

In addition, your final script should both print the analysis to the terminal and export a text file with the results.

In [15]:
import pandas as pd
df = pd.read_csv("Resources/budget_data.csv")

In [16]:
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [17]:
month_year = pd.DataFrame(df.Date.str.split('-',1).tolist(),columns = ['Month','Year'])

In [18]:
month_year.head()

  Month  Year
0   Jan  2010
1   Feb  2010
2   Mar  2010
3   Apr  2010
4   May  2010

In [24]:
df.insert(1, 'Month', month_year['Month'])
df.insert(2, 'Year', month_year['Year'])

In [25]:
df.head()

       Date Month  Year  Profit/Losses
0  Jan-2010   Jan  2010         867884
1  Feb-2010   Feb  2010         984655
2  Mar-2010   Mar  2010         322013
3  Apr-2010   Apr  2010         -69417
4  May-2010   May  2010         310503

In [28]:
num_months = len(df['Date'].unique())
print(f"Total Months: {num_months}")

Total Months: 86

In [30]:
total_PL = df['Profit/Losses'].sum()
print(f"Total : ${total_PL}")

Total : 38382578

In [44]:
prev = df.loc[0, 'Profit/Losses']
temp_df = df.loc[1:,]
diff = 0
for i in temp_df['Profit/Losses']:
    diff = diff + (i-prev)
    prev = i
diff_avg = round(diff/temp_df.shape[0],2)
print(f"Average Change = ${diff_avg}")

Average Change = $-2315.12

In [62]:
prev = df.loc[0, 'Profit/Losses']
temp_df = df.loc[1:,]
diff = 0
temp_df['Change'] =0
for i, val in enumerate(temp_df['Profit/Losses']):
    temp_df.loc[i+1,'Change'] = val-prev
    prev = val
max_change = temp_df['Change'].max()
max_date = temp_df.Date[temp_df['Change'].idxmax(axis=1)]
min_change = temp_df['Change'].min()
min_date = temp_df.Date[temp_df['Change'].idxmin(axis=1)]
print(f"Greatest Increase in Profits: {max_date} ${max_change}")
print(f"Greatest Decrease in Profits: {min_date} ${min_change}")

/Users/MacBookPro/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

Greatest Increase in Profits: Feb-2012 $1926159
Greatest Decrease in Profits: Sep-2013 $-2196167

In [54]:
temp_df.head()

       Date Month  Year  Profit/Losses  Change
1  Feb-2010   Feb  2010         984655  116771
2  Mar-2010   Mar  2010         322013 -662642
3  Apr-2010   Apr  2010         -69417 -391430
4  May-2010   May  2010         310503  379920
5  Jun-2010   Jun  2010         522857  212354